// HEADER STUFF

#headerWrapper {border-bottom: 1px solid #eee;}

header {
    grid-template-columns: 54px auto;
    // padding: 1rem $gutter;
    h1 {
       font-size: 1.8rem;
       font-weight: $boldWeight;
    }
    // div#phone {
    //     display: block;
    //     justify-self: end;
    //     a {
    //         color: $primaryColor;
    //         text-decoration: none;
    //         font-weight: $normalWeight;
    //         font-size: 1.5rem;
    //         &:hover {color: $secondaryColor}
    //     } // end anchor
    // } //end phone
} //end header

// NAV STUFF HERE
div#hamburger, div#closex {display: none;}

div#navWrapper {border-bottom: 1px solid $cream;}

nav {
   height: auto; //this overrides the 100vh from the small screen;
    ul {
        display: flex;
        justify-content: space-around;
        border: none;
        padding: 1rem 0;
        li {border: none;}
    }
    ul li a {
        font-weight: $boldWeight;
        color: #333;
        border-radius: 20px;
        padding: .6rem 1.2rem;
        margin-left: .2rem;
    }

} //end nav









// STRUCTURE STUFF HERE
div#headerWrapper{grid-row-start: 1;}
div#navWrapper{grid-row-start: 2;}
div#mainWrapper{grid-row-start: 3;}
div#footerWrapper{grid-row-start: 4;}
// div#headerWrapper, div#navWrapper, div#mainWrapper, div#footerWrapper {height: auto;}