$primaryColor: #d14700; 
$secondaryColor: #5B8C5A;
$cream: #EEEBD3;
$dgreen:#0b670b;
$fontColor: #333;

$defaultFont: "Nunito", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;


